{% extends "base.html" %}

{% block title %}Gallery{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Stranger{% endif %}!</h1>
</div>

<p>Are you sure you want to delete photo? </p>
<div>
	<a href="#">
	<img src={{ filepath }} width= "300" vertical-align= "middle">
	</a>
	<form action=""
        	method=post
        	enctype=multipart/form-data>
        	<input type=submit value=Delete>
    </form>
</div>

{% endblock %}
